.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid white;

    div {
        min-width: 300px;
        padding: 16px;
        
        h1 {
            padding: 0 0 4px 0;
        }
        
        p {
            padding: 4px 0 4px 0;
        }
    }
}